.card_container{
    border: 1px solid gray;
}
.message{
    font-size: 1.2rem;
}
.card_container span{
    font-size: 1rem;
}
.date{
    font-size: 0.8rem;
    font-style: italic;
}
.mine{
    text-align: end;
    width: 80%;
    justify-self: end;
}

.not_mine{
    background-color: green;
    text-align: start;
    width: 80%;
}