@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    /* height: 100vh; */
    background-color: #91cb9126;
    background-image: linear-gradient(#31a2db40, #31a2db10);

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --primary-color: #1565c0;
    --primary-color-light: #31a1db3d;
}

#root {
    position: relative;
    height: 99.8vh;
    align-self: center;
    min-width: 600px;
    max-width: 600px;
    margin: auto;
    border: 1px solid #00000025;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
}

*{
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

ul,
ul::after,
ul::before,
li,
li::after,
li::before {
    list-style: none;
    text-decoration: none;
}

a,
a::after,
a::before,
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button,
input[type='submit'],
input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.d_none {
    display: none;
}
.d_initial {
    display: initial;
}

.text_green {
    color: green;
    font-weight: bold;
}



::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff00;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff00;
  }
